{% extends "base.html" %}
{% block content %}

<div class="container my-5 about-container">
    <div class="row about-row">
        <div class="col-md-4 mb-4">
            <img src="{{ url_for('static', filename='profpic.png') }}" alt="Profile Picture" class="img-fluid profile-pic">
        </div>
        <div class="col-md-8">
            <h2>Hello,</h2>
            <p>I'm Priyanka Pudi, creator of this blog where I share my knowledge and experiences.</p>
            <p>I'm passionate about writing and sharing insights on various topics that interest me.</p>
            <p>You can reach me by email or connect with me on social media.</p>
            <p>Want to speak with me! 👉 <a href="mailto:priyankapudi4u@gmail.com?subject= Hey Wacuspian, I have something to share with you"
﻿    class="text-decoration-underline">click here</a>, or follow me on social media.</p>
            <div class="social-links mt-4">
                <a href="https://www.linkedin.com/in/priyankapudi/" target="_blank" rel="noopener noreferrer" class="me-3">
                    <img src="{{ url_for('static', filename='linkedin.svg') }}" alt="LinkedIn" width="32" height="32">
                </a>
                <a href="https://x.com/Wa_Cusp" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='twitter-x.svg') }}" alt="Twitter" width="32" height="32">
                </a>
            </div>
            <a href="{{ url_for('hello_priyanka') }}" class="btn btn-link mt-4 p-0">Back to Home</a>
        </div>
    </div>
</div>

{% endblock %}
