{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h3 class="mb-3">Welcome to the wisdom world...! Wacuspian</h1>
    <p class="mb-3"; style="color:black; font-size: 16px">I'm glad that you landed up here and I hope you enjoy some excerpts, from my knowledge</p>
    
    <div class="social-box mb-5">
        <h4 class="mb-3 fs-5"; style="font-weight:600">Social media accounts, where I post all my happenings</h4>
        <div class="d-flex justify-content-center gap-4">
            <a href="https://www.instagram.com/priyankapudi.in/" class="social-icon" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='instagram.svg') }}" width="24" height="24" alt="Instagram">
            </a>
            <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='twitter-x.svg') }}" width="24" height="24" alt="Twitter">
            </a>
            <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='youtube.svg') }}" width="24" height="24" alt="YouTube">
            </a>
        </div>
    </div>
</div>

<h3 class="mb-4">All the posts and essays</h3>

{% for year, articles in articles_by_year.items() %}
<div class="mb-4">
    <h4 class="h5 mb-1" style="text-align: left; margin-left: 20px">{{ year }}</h4>
    {% for article in articles %}
    <div class="d-flex align-items-baseline mb-2 justify-content-left" style="margin-left: 20px">
        <div class="bullet me-2"></div>
        <div class="text">
            <a href="{{ url_for('post', path=article.path) }}" class="text-decoration-underline">{{ article.title }}</a>
        </div>
        {% if article.genre %}
        <div class="genre ms-2">({{ article.genre }})</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
