{% extends "base.html" %}
{% block content %}

<div id="container" class="container mt-4">
    <h2 class="mb-3"; style="text-align: center">{{ page.meta.title }}</h2>

    <div class="text-center mb-3">
        <text class="text-muted">
           ({{ page.meta.date.strftime('%B %d, %Y') }} | {{ page.meta.genre }})
        </text>
    </div>
    <div class="post-content">
        {{ page.html|safe }}
    </div>

    <a href="{{ url_for('hello_priyanka') }}" class="btn btn-link mt-4 p-0">Back to Home</a>
</div>

{% endblock %}
